.profile{
    padding-block: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    display: flex;
    gap: 32px;
}
.main img{
    height: 176px;
    width: 176px;
    border-radius: 50%;
}
.main div{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 16px;
    padding-inline: 32px;
}
.info li{
    display: flex;
    gap: 8px;
    width: 240px;
    font: var(--text-md)
}
.nome{
    font: var(--text-lg);
    color: var(--text-color-primary);
}
.descricao{
    max-width: 41ch;
    font: var(--text-md);
    color: var(--text-color-secondary);
}