nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
    padding-block: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 4px;
    font: var(--text);
}
nav ul li:last-child img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
